<div fxLayout="row">
  <div fxLayout="column" fxFlex="1 1 5%" fxLayoutAlign="center center">
    <button *ngIf="hasPrevious()" mat-mini-fab color="primary" (click)="previous.emit()">
      <mat-icon inline="false">arrow_back_ios</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxFlex="1 1 90%">
    <p>consolidate-step works!</p>
  </div>
  <div fxFlex="1 1 5%" fxLayoutAlign="center center">
    <button *ngIf="hasNext()" mat-mini-fab color="primary" (click)="next.emit()">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
</div>
