<h1>Start new Retro</h1>
<form (ngSubmit)="submitHandler()">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Sprint Title</mat-label>
      <input matInput placeholder="Sprint Title" name="sprintTitle" [(ngModel)]="sprintTitle" cdkFocusInitial />
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="cancelClickHandler()" color="primary">
      Cancel
    </button>
    <button mat-button type="submit" color="primary" [disabled]="!sprintTitle">
      Start
    </button>
  </div>
</form>
