<h1>{{ title }}</h1>
<div fxLayout="row" fxLayoutGap="24px">
  <div fxLayout="column" fxFlex="1 1 5%" fxLayoutAlign="center center">
    <button *ngIf="hasPrevious() && isAdmin()" mat-mini-fab color="primary" (click)="previous.emit()">
      <mat-icon inline="false">arrow_back_ios</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxFlex="1 1 90%" fxLayoutGap="24px">
    <div fxFlex="1 1 75%">
      <div fxLayout="row wrap" fxFlex>
        <div class="topic" *ngFor="let topic of topics | async">
          {{ topic.topic }}
        </div>
      </div>
    </div>
    <div fxFlex="1 1 25%" fxLayout="column" fxLayoutGap="24px">
      <ng-container *ngTemplateOutlet="appendTopic"></ng-container>
      <div appendTopic></div>
      <div>Timer</div>
    </div>
  </div>
  <div fxFlex="1 1 5%" fxLayoutAlign="center center">
    <button *ngIf="hasNext() && isAdmin()" mat-mini-fab color="primary" (click)="next.emit()">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
</div>

<ng-template #appendTopic>
  <form #form="ngForm" (submit)="topicSubmitHandler()">
    <mat-form-field class="form-element">
      <mat-label>Topic</mat-label>
      <textarea
        name="topic"
        matInput
        placeholder="Topic"
        [(ngModel)]="topic"
        cdkFocusInitial
        rows="5"
        (keydown)="keyPressHandler($event)"
      ></textarea>
    </mat-form-field>
    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" [disabled]="!topic">Submit</button>
    </div>
  </form>
</ng-template>
