<h1>{{ title }}</h1>
<div fxLayout="row">
  <div fxFlex="1 1 75%">
    <div fxLayout="row" fxLayoutGap="8px">
      <div class="topic" *ngFor="let topic of topics | async">
        {{ topic.topic }}
      </div>
    </div>
  </div>
  <div fxFlex="1 1 25%" fxLayout="column" fxLayoutGap="24px">
    <ng-container *ngTemplateOutlet="appendTopic"></ng-container>
    <div appendTopic></div>
    <div>Stopwatch</div>
  </div>
</div>

<ng-template #appendTopic>
  <form #form="ngForm" (submit)="topicSubmitHandler()">
    <mat-form-field class="form-element">
      <mat-label>Topic</mat-label>
      <textarea name="topic" matInput placeholder="Topic" [(ngModel)]="topic" cdkFocusInitial rows="5"></textarea>
    </mat-form-field>
    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" [disabled]="!topic">Submit</button>
    </div>
  </form>
</ng-template>
