<h1>Retro Secret is Missing</h1>
<form [formGroup]="form" (ngSubmit)="submitHandler()">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Retro Secret</mat-label>
      <input matInput placeholder="Retro Secret" formControlName="retroSecret" cdkFocusInitial />
      <mat-error *ngIf="!form.controls['retroSecret'].valid && form.controls['retroSecret'].touched">
        Required field
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="cancelClickHandler()" color="primary">
      Cancel
    </button>
    <button mat-button type="submit" color="primary">
      Enter
    </button>
  </div>
</form>
