<h1>Retro Secret is Missing</h1>
<form (ngSubmit)="submitHandler()">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Retro Secret</mat-label>
      <input name="retroSecret" [(ngModel)]="retroSecret" matInput placeholder="Retro Secret" cdkFocusInitial />
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="cancelClickHandler()" color="primary">
      Cancel
    </button>
    <button mat-button type="submit" color="primary" [disabled]="!retroSecret">
      Enter
    </button>
  </div>
</form>
